@charset "UTF-8";
.content{padding-bottom: 50px;width: 1000px;margin: 15px auto 0;background: #fff;}

/*专题页-导言*/
.z_ban{overflow: hidden;}
.z_ban_f{width: 450px;float: right;height: 275px;}
.z_ban_f h2{height:50px;line-height: 50px;font-size:18px;font-weight: bold;background: #fff1f2;padding:0 30px;position: relative;}
.z_ban_f h2 span{position: absolute;top:0;right:50px;display: inline-block;width: 50px;height: 50px;line-height: 50px;text-align: center;background: #cf0710;color:#fff;}
.z_ban_f h2 i{
    position:absolute;
    bottom:-20px;
    right:50px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #cf0710;
    }
.z_ban_r{width: 550px;height: 275px;float: left;overflow: hidden;}
.z_ban_r a{display: block;cursor:pointer;height: 100%;width:100%;}
.z_ban_r a img{display: block;width: 100%;height: 100%;}
.z-ban_f_tit{border-bottom: 1px solid #e9e9e9;border-top:0;padding: 20px 20px 10px;box-sizing:border-box;}
.z-ban_f_tit p{color:#999;line-height: 30px;height: 60px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;font-size: 14px;}
.z-ban_f_tit a{display: block;cursor:pointer;height:38px;line-height: 38px;color:#999;background:#eaebea;text-align: center;border-radius: 4px;font-size:16px;}
.z-ban_f_tit a:hover{background:#ddd;color:#666;}
/*标签*/
.z_tag{font-size:0;height: 62px;overflow: hidden;margin: 20px 0 14px 0;}
.z_tag span{display: block;font-size: 14px;color: #333;}
.z_tag a{display: inline-block;font-size:14px;margin-right:20px;border-radius: 4px;padding: 0 10px;height: 30px;line-height: 30px;margin-top: 10px;}
.z_tag a:nth-of-type(2n+1){color: #2fb35e;border: 1px solid #2fb35e;background: #e7fff0;}
.z_tag a:nth-of-type(2n+2){color: #3247c9;border: 1px solid #3247c9;background: #ecefff;}
.z_tag a:nth-of-type(4n+4){color:#c846d7;border:1px solid #c846d7;}
.z_tag a:nth-of-type(5n+4){color:#e93636;border:1px solid #e93636;background: #fffcee;}
/*专题列表*/
#topic{margin-top: 10px;overflow: hidden;}
#topic ul{margin-left: -30px;overflow: hidden;}
#topic ul:before{content:"";clear:both;}
#topic ul li{width: 300px;height: 206px;float: left;position: relative;margin: 40px 0 0 40px;}

#topic ul li:after{content:"";position: absolute;background:url(../images/zt_5.png) no-repeat;width: 321px;height: 48px;left:0;right:0;bottom:-18px;margin: auto;z-index: -1;}
.box{border:1px solid #e1e2e0;background:#fff;border-radius: 6px;padding: 20px;box-sizing:border-box;position: relative;}
#topic ul li:hover .box{top:-10px;}
.box img{width:80px; height:80px;border-radius: 6px;}
.box a{display:inline-block; float: left; padding-right: 10px; position: relative; overflow: hidden; zoom: 1;}
.box h3{height: 22px;padding-top:5px;}
.box h3 a{color: #333; font-weight: bold; font-size: 16px; padding-bottom: 1px; position: absolute; font-family: "Microsoft Yahei";white-space: nowrap;}
.box h3 a:hover{color:#df0000;}
.box strong{display: inline-block;font-weight:normal;width: 120px;overflow: hidden;zoom: 1;}
.box strong.topname{line-height:20px;height:20px;font-size:14px; overflow:hidden;zoom:1;}
.box strong i{background: url(../images/start.png) no-repeat 0 0px;width: 100px; display: block;}
.box i b{width:50%;background: url(../images/start.png) no-repeat 0 -18px;display: block;height: 13px;}
.tbox{overflow:hidden; zoom:1; position: relative;}
.pf{color:#888;}
.pf span{display:block;margin:5px 0;}
.pf span u{color:#ed4848;text-decoration: none;}
.pf font{color:#d2d2d2; padding:0px 8px;}
.intro{display: block;color: #757575;line-height: 28px;margin-top: 12px;height: 56px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.box .toppic_down{position: absolute;padding: 3px 9px;border-radius: 4px;right: 0;top: 23px;z-index: 6;border: 1px solid #ccc;color: #333;}
.box .toppic_down:hover{background: #cf0710;color:#fff;border: 1px solid #cf0710;}
.xbtj .box:after{content:'';position: absolute;top:-6px;right: -6px;background:url(../images/zt_1.png) no-repeat;width: 111px;height: 110px;}
.zdxz .box:after{content:'';position: absolute;top:-6px;right: -6px;background:url(../images/zt_2.png) no-repeat;width: 111px;height: 110px;}
.zshy .box:after{content:'';position: absolute;top:-6px;right: -6px;background:url(../images/zt_3.png) no-repeat;width: 111px;height: 110px;}
.jrtj .box:after{content:'';position: absolute;top:6px;left: -6px;background:url(../images/zt_4.png) no-repeat;width: 56px;height: 36px;}



.index-tit { margin-top: 35px; margin-left:  -10px; overflow:  hidden; }
.index-tit h4 { height:  26px; line-height:  26px; color:  #333; font-size:  20px; text-indent:  22px; position:  relative; font-weight:  bold; float:  left; }
.index-tit h4:before { content:  ""; width: 4px; height: 20px; background: #ff7800; position:  absolute; top: 0; left:  0; bottom:0;margin:auto;}

.zt-main { width: 1200px; margin: 0 auto; padding: 40px 25px 10px; background: #fff; overflow: hidden; }
.zt-mod{display: none; }
.zt-nav-box { float: left; width: 240px; position: relative;}
.zt-mod-r { float: right; width: 930px;}
.zt-nav-list li a { display: block; position: relative; color: #333; font-size: 16px; text-indent: 65px; height: 50px; line-height: 50px; }
.zt-nav-list { border: solid 1px #ededed; width: 190px; }
.zt-nav-list li a:before { content: ""; position: absolute; top: 16px; left: 24px; width: 20px; height: 20px; background: url(../images/zt-jlt.png) no-repeat; background-position-x:0; }
.zt-nav-list li.active a{background: #029de8;color: #fff;}
.zt-nav-list li.active a:hover{ color: #fff; }
.zt-nav-list li.active a:after{content: "";position: absolute;right: -20px;top: 0;border: 5px solid #029de8;border-color: transparent transparent transparent #029de8;border-width: 25px 10px;}
.zt-nav-list li.active a:before{ background-position-x:-25px; }
.zt-nav-list li.zt_list_tab1 a:before{ background-position-y:0; }
.zt-nav-list li.zt_list_tab2 a:before{ background-position-y:-26px; }
.zt-nav-list li.zt_list_tab3 a:before{ background-position-y:-53px; }
.zt-nav-list li.zt_list_tab4 a:before{ background-position-y:-79px; }
.zt-nav-list li.zt_list_tab5 a:before{ background-position-y:-105px; }
.zt-nav-list li:hover a{ color:#249762; }
.add-more { float:  right; position:  relative; color:  #999; font-size:  12px; height: 26px; line-height: 26px; padding-right:  22px; }
.add-more:hover { color:  #3daf3d; }
.add-more:after { content:  ""; position:  absolute; top: 4px; right: 0; width:  15px; height:  15px; background:  url(../images/jlt-index.png) -362px -207px no-repeat; }
.zt-mod-r .index-tit { margin: 0; }
.zt-list {overflow: hidden;padding: 30px 0 35px 0;position: relative;width: 1012px;box-sizing: border-box;}
.zt-list li {width: 257px;float: left;position: relative;margin: 0 80px 60px 0;}
.imgbox { width: 257px; height: 128px; overflow: hidden; display: block; position: relative; }
.zt-list li img { display: block; width: 100%; height: auto; }
.zt-nav-list li { margin-bottom: 18px; }
.imgbox h5 { position: absolute; bottom: 0; left: 0; width: 90%; padding: 0 5%; height: 65px; background-image: linear-gradient(0deg,    rgba(0,0,0,.6) 0%,    transparent 100%); color: #fff; font-size: 14px; font-weight: bold; line-height: 90px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.zt-item-count { background-color: #fcfcfc; border: solid 1px #e9e9e9; display: block; padding: 9px 15px 0; height: 50px; line-height: 24px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; color: #999; font-size: 12px; border-bottom: none; }
.zt-item-btn a { display: block; text-align: center; height: 39px; line-height: 40px; position: relative; font-size: 14px; border-top: 1px solid #e9e9e9; margin-top: 9px; background: #fff; }
.go-zt,.go-zt:hover {color: #029de8;}
.game-gift,.game-gift:hover { color: #f48948; }
.go-zt:hover { color: #fff; background:#029de8;border-color: #029de8;  }
.game-gift:hover { color: #fff; background:#f48948; }
.zt-item-btn { overflow: hidden; border: 1px solid #e9e9e9; border-top: none; background: #fcfcfc; }
.zt-list:after { content: ""; position: absolute; bottom: 10px; left: 0; width: 100%; height: 1px; background: #fff; }
.zt-ul-box{overflow:hidden;}
.zt-list li:hover { box-shadow: 0px 0px 20px 0px rgba(99, 99, 99, 0.1); }
.pager a { border: solid 1px #cccccc; color:  #999; font-size:  14px; padding: 10px; }
.pager .sele { background-color: #4ebb67; color:  #fff; border: 1px solid #4ebb67; }
.pager .sele, .pager a:hover { background:  #4ebb67; border-color:  #4ebb67; }
.initial { overflow: hidden; margin-top: 40px; }
.initial-tit { float: left; color: #3daf3d; font-weight: bold; font-size: 14px; padding-left: 38px; height: 30px; line-height: 34px; position: relative; }
.initial-tit:before { content: ""; position: absolute; top: 0; left: 0; width: 38px; height: 23px; background: url(../images/zt-jlt.png) -57px 0 no-repeat; }
.initial-list { float: left; height: 34px; margin-left: 20px; }
.initial-list a { float: left; width: 30px; line-height: 30px; height: 30px; text-align: center; color: #bbb; font-size: 16px; font-weight: bold; border-radius: 3px; position: relative; }
.initial-list a.active { background: #3daf3d; color: #fff; }
.initial-list a.active:after { content: ""; position: absolute; bottom: -7px; left: 50%; border: 4px solid #3daf3d; border-color: #3daf3d transparent transparent transparent; transform: translateX(-50%); }

